@{
    ViewBag.Title = "Exam";
}
@section css{
    @Styles.Render("~/Content/css/layout.css")
}
@section js{
    @Scripts.Render("~/Content/js/jquery.min.js")
    <script type="text/javascript">
        function concat(o,n){
            return o.value+";"+n.value;
        }
        function submit() {
            var ans = [];
            var tot = @ViewBag.questions.Count;
            for(var i=0;i<tot;i++){
                var str = "input[name="+i+"]:checked";
                var choice;
                if($(str).length > 1){
                   choice = $(str).toArray().reduce(concat);
                }else{
                    choice = $(str).val()
                }
                ans.push({"id": i,"choice":choice || ""});
            }
            console.dir(ans);
            $.ajax({
                url:"../Submit",
                type:"POST",
                data:{"data":JSON.stringify(ans)},
                success:function(data){
                    eval("var res="+data);
                    console.log(res);
                    if( res['status'] == 'success'){
                        window.location = res['redirct'];
                    }else{
                        alert(res['message']);
                    }
                    alert("提交成功")

                },
                error:function(){
                   alert("提交失败")
                }
            });

        }
        function pad(x){
            return (x+"").length == 2?x:"0"+x;
        }
        function count_down(){
            var time = @ViewBag.reamin_time;
            var tot = time;
            setInterval(function(){
                $("#time").text(pad(parseInt( time/60))+":"+pad(time%60));
                $("#time_ui").attr("style","width:"+ parseInt(100-time*100/tot)+"%");
                time--;
                if(time <=0){
                    submit();
                }
            },1000)
        }
        (count_down())();
    </script>
    
}
@{var num = 0;}
<div id="container">
    @Html.Partial("student_header")
    <div id="content">
        <div style="padding-left:160px;padding-right:160px">
            <div id="pad20">
                <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="40">
                    <div id="time_ui" class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 0%;"></div>
                </div>
                <h1>
                    剩余时间 <a id="time"></a>
                </h1>
                
                <div class="cols3 column">
                    
                    @foreach (QuestionEntity q in ViewBag.questions)
                    {
                        <div>
                            <a>@num.</a>
                            <a>@q.statement</a>
                            @if (q.imageURL != null && q.imageURL != "")
                            {
                                <img src="@q.imageURL" />
                            }
                            @if (q.type == "SC")
                            {
                                var x = 0;
                                foreach (String c in q.choices)
                                {

                                    <p>
                                        <input type="radio" name="@num" value="@x" />@c
                                        @{x++;}
                                    </p>
                                }
                            }
                            else if(q.type == "TF")
                            {
                                <p>
                                    <input type="radio" name="@num" value="T" />True
                                    <input type="radio" name="@num" value="F" />False
                                </p>
                            }
                            else
                            {
                                var x = 0;
                                foreach (String c in q.choices)
                                {

                                    <p>
                                        <input type="checkbox" name="@num" value="@x" />@c
                                        @{x++;}
                                    </p>
                                }
                            }
                        </div>
                            num++;

                    }
                </div>
                <input type="button" value="submit" onclick="submit()"/>
            </div>
        </div>
    </div>
</div>

