@{
    ViewBag.Title = "Announcement";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Teacher Center</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/Teacher/Index">Examination</a></li>
                <li class="active"><a href="/Teacher/Announcement">Announcement</a></li>
                @*<li><a href="/Teacher/Student">学生管理</a></li>*@
                <li><a href="/Teacher/File">File</a></li>
                <li><a href="/Teacher/Project">Project</a></li>
                <li><a href="/Teacher/Profile">Profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Teacher/Logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="Product">
                <table id="product_info">
                    <thead>
                        <tr>
                            <th>Publish Date</th>
                            <th>Title</th>
                            <th>Content</th>
                      
                            <th>
                                Operation
                                <a class="btn btn-info" onclick="NewModal()">
                                        Add Announcement
                                    <i class="halflings-icon white edit"></i>
                                </a>
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (var Announcement in ViewBag.AnnouncementList)
                        {
                            <tr>
                                <td class="center">@Announcement.time</td>
                                <td class="center">@Announcement.title</td>
                                <td class="center">@Announcement.content</td>
                                
                                
    
                                <td>
                                    <a class="btn btn-info"  onclick="UpdateModal(@Announcement.id,'@HttpUtility.UrlEncode(Announcement.title)','@HttpUtility.UrlEncode(Announcement.content)')" >
                                        Edit
                                        <i class="halflings-icon white edit"></i>
                                    </a>
                                    <a class="btn btn-danger" onclick="delAnnouncement(@Announcement.id)">
                                        Delete
                                        <i class="halflings-icon white trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }




                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Edit Announcement
                </h4>
            </div>
            <div class="modal-body">
                <div>
                    <span>Title：</span><textarea id="title" style="width:100%"></textarea>
                
                </div>
                <div>
                    <span>Content：</span><textarea id="content" style="width:100%"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
                <button id="submit" type="button" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">

    $(function () {
        var oTable = $("#product_info").dataTable(
		{
		  
		    "bProcessing": true,//加载数据时候是否显示进度条

		    "sPaginationType": "full_numbers",
		    "oLanguage": { //主要用于设置各种提示文本
		        "sProcessing": "Processing...", //设置进度条显示文本
		        "sLengthMenu": "_MENU_ lines per page",//显示每页多少条记录
		        "sEmptyTable": "No Record",//没有记录时显示的文本
		        "sZeroRecords": "No Record",//没有记录时显示的文本
		        "sInfo": "Total:_TOTAL_  Current:_START_ to _END_",
		        /* "sInfo" : "当前页  _START_/_END_" , */
		        "sInfoEmpty": "",//没记录时,关于记录数的显示文本
		        "sSearch": "search:",//搜索框前的文本设置
		        "oPaginate": {
		            "sFirst": "First",
		            "sLast": "Last",
		            "sNext": "Next",
		            "sPrevious": "Pre "
		        }
		    }//用于设置提示文本

		});
        oTable.css("font-size", "12px");//设置文本的样式；
    })
</script>

<script>
    function NewModal() {
        $("#myModal").modal();
        $("textarea#title").html("");
        $("textarea#content").html("");
        $("button#submit").unbind();
        $("button#submit").click(function () {
            var title = $("textarea#title").val();
            var content = $("textarea#content").val();
            $.post(
                "AddAnnouncement",
                "title="+title+"&content="+content,
                success=function(data){
                    if(data.status=="success"){
                        alert("add success!");
                        location.reload();
                    }
                    else{
                        alert("add failed!"+data.error);
                        location.reload();

                    }
                })    
        });
    }
    function UpdateModal(id, title, content) {
        $("#myModal").modal();
        $("textarea#title").html(decodeURI(title));
        $("textarea#content").html(decodeURI(content));
        $("button#submit").unbind();
        $("button#submit").click(function () {
            var _title = $("textarea#title").val();
            var _content = $("textarea#content").val();
            $.post(
                "UpdateAnnouncement",
                "id="+id+"&title="+_title+"&content="+_content,
                success=function(data){
                    if(data.status=="success"){
                        alert("update success!");
                        location.reload();
                    }
                    else{
                        alert("update failed!"+data.error);
                        location.reload();
                    }
                })
        });       
    }
    function delAnnouncement(id){
        var b = confirm("This action will delete the record! Continue?");
        if(b==true){

            $.post(
                "DelAnnouncement",
                "id="+id,
                success=function(data){
                    if(data.status=="success"){
                        alert("delete success!");
                        location.reload();
                    }
                    else{
                        alert("delete failed!"+data.error);
                        location.reload();
                    }
                });
        }
    }
</script>
