@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    ViewBag.Title = "Result";
}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Teacher Center</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/Teacher/Index">Examination</a></li>
                <li><a href="/Teacher/Announcement">Announcement</a></li>
                <li><a href="/Teacher/Student">学生管理</a></li>
                <li><a href="/Teacher/File">File</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Teacher/Logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        @if (ViewBag.examInfo != null) { 
                             
        <div class="col-md-3">Examination name:@ViewBag.examInfo.name</div>
        <div class="col-md-2">Exam Time:@ViewBag.examInfo.time Minutes</div>
        <div class="col-md-5">Distribution：Single：@ViewBag.examInfo.sNumber ，Multi：@ViewBag.examInfo.mNumber ，Judge：@ViewBag.examInfo.tNumber </div>}
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-12">
            <div class="Product">
                <table id="product_info">
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th>Name</th>
                            <th>SingleScore</th>
                            <th>MultiScore</th>
                            <th>JudgeScore</th>
                            <th>Total</th>
                            <th>
                               @if (ViewBag.examInfo != null) {
                                <a class="btn btn-info" onclick="deleteResult(@ViewBag.examInfo.id)">
                                    Delete Grade For This Exam
                                    <i class="halflings-icon white edit"></i>
                                </a>
                               }
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var result in ViewBag.resultList)
                        {
                            <tr>
                                <td class="center">@result.sid</td>
                                <td class="center">@result.name</td>
                                <td class="center">@Math.Round(result.sScore,1)</td>
                                <td class="center">@Math.Round(result.mScore,1)</td>
                                <td class="center">@Math.Round(result.tfScore,1)</td>
                                <td class="center">@Math.Round(result.totalScore,1)</td>

                                <td>

                                  
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">

	$(function(){
		var oTable = $("#product_info").dataTable(
		{ "bProcessing": true,//加载数据时候是否显示进度条

		    "sPaginationType": "full_numbers",
		    "oLanguage": { //主要用于设置各种提示文本
		        "sProcessing": "Processing...", //设置进度条显示文本
		        "sLengthMenu": "_MENU_ lines per page",//显示每页多少条记录
		        "sEmptyTable": "No Record",//没有记录时显示的文本
		        "sZeroRecords": "No Record",//没有记录时显示的文本
		        "sInfo": "Total:_TOTAL_  Current:_START_ to _END_",
		        /* "sInfo" : "当前页  _START_/_END_" , */
		        "sInfoEmpty": "",//没记录时,关于记录数的显示文本
		        "sSearch": "search:",//搜索框前的文本设置
		        "oPaginate": {
		            "sFirst": "First",
		            "sLast": "Last",
		            "sNext": "Next",
		            "sPrevious": "Pre "
		        }
		    }//用于设置提示文本

		
});
oTable.css("font-size","12px");//设置文本的样式；
})
</script>
<script>
    function deleteResult(id) {
        var b = confirm("This action will delete the record! Continue?");
        if (b == true) {
            $.post(
                "delResult",
                "id="+id,
                   success = function (data) {
                       if (data.status == "success") {
                           alert("delete success!");
                           location.reload();
                       }
                       else {
                           alert("delete failed!" + data.error);
                           location.reload();
                       }
                   })
        }
    }
</script>