<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("css", false)

    @Scripts.Render("~/Content/js/jquery-1.3.2.min.js")
    @Scripts.Render("~/Content/js/easyTooltip.js")
    @Scripts.Render("~/Content/js/jquery-ui-1.7.2.custom.min.js")
    @Scripts.Render("~/Content/js/hoverIntent.js")
    @Scripts.Render("~/Content/js/custom.js")
    
    
    


    
    @RenderSection("js", false)
   
</head>
<body>
    @RenderBody()
    <div id="footer">
        <p class="mid">
            <a title="Top" >About the site</a>&middot;
            <a title="Top">Contact us</a>&middot;
            <a title="Top">User Guide</a>
        </p>
        <p class="mid">
            
            &copy; xxxx. All rights reserved.
            <img src="Content/cityu logo/images.jpg"/>
        </p>
    </div>
</body>
</html>

