@{
    ViewBag.Title = "notification";
}
@section css{
    @Styles.Render("~/Content/css/layout.css")
}
@section js{

    @Scripts.Render("~/Content/js/jquery.wysiwyg.js")
    @Scripts.Render("~/Content/js/superfish.js")
}

<div id="container">
    @Html.Partial("student_header")
    <div id="content">
        <div style="padding-left:160px;padding-right:160px">
            <div id="pad20">
                <div class="cols3 column">
                    <div id="accordion">
                        @foreach (AnnouncementEntity data in ViewBag.data)
                        {

                            <div>
                                <h2><a href="#" title="@data.title" class="tooltip">@data.title</a></h2>
                                <div>
                                    <p>@data.time</p>
                                    <p>@data.content</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>