@{
    ViewBag.Title = "考试";
}
@section css{
    @Styles.Render("~/Content/css/layout.css")
}
@section js{

    @Scripts.Render("~/Content/js/jquery.wysiwyg.js")
    @Scripts.Render("~/Content/js/superfish.js")
}
<div id="container">
    @Html.Partial("student_header")
    <div id="content">
        <div style="padding-left:160px;padding-right:160px">
            <div id="pad20">
                <div class="cols3 column">
                    <table class="fullwidth" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>time</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ExamEntity data in ViewBag.data)
                            {
                                <tr>
                                    <td>@data.name</td>
                                    <td>@data.time minutes</td>
                                    <td><a href="/Exam/Index/@data.id">start exam</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>