@{
    ViewBag.Title = "Student Center";
}
@section css{
    @Styles.Render("~/Content/css/layout.css")
}
@section js{
    
    @Scripts.Render("~/Content/js/jquery.wysiwyg.js")
    
}

<div id="container">
    @Html.Partial("student_header")
    <div id="content">
        <div style="padding-left:160px;padding-right:160px">
            <div id="pad20">
                <div class="cols3 column">
                    <hr />
                    <div>
                        <h1>Course Description</h1>
                        <table class="fullwidth" cellpadding="0" cellspacing="0" border="0">
                            @foreach (AnnouncementEntity data in ViewBag.announcement)
                            {

                                <tr>
                                    <td>
                                        <a href="#" title="@data.title" class="tooltip">@data.title</a>
                                    </td>
                                    
                                    <td>
                                        @data.time
                                        
                                    </td>

                                </tr>
                            }
                        </table>
   
                        <input type="button" value="more" class="button" style="float:right">

                    </div>
                    <hr />
                    <div>
                        <h1>Available Exams</h1>
                        <table class="fullwidth" cellpadding="0" cellspacing="0" border="0">
                            <thead>
                                <tr>
                                    <td>name</td>
                                    <td>time</td>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (ExamEntity data in ViewBag.exam)
                                {
                                    <tr>
                                        <td>@data.name</td>
                                        <td>@data.time minutes</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input type="button" value="more" class="button" style="float:right">
                    </div>
                    <hr />
                    <div>
                        <h1>Available Documents</h1>
                        <table class="fullwidth" cellpadding="0" cellspacing="0" border="0">

                            <thead>
                                <tr>
                                    <td>name</td>
                                    <td>size</td>
                                    <td>time</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (FileEntity data in ViewBag.file)
                                {
                                    <tr>
                                        <td><a href="@data.path" style="color:#999">@data.name</a></td>
                                        <td>@data.size KB</td>
                                        <td>@data.time</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input type="button" value="more" class="button" style="float:right">
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>