@{
    ViewBag.Title = "学生中心";
}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <a class="navbar-brand" href="#">学生中心</a>
        </div>

       
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Student/Index">信息公告</a></li>
                <li><a href="/Student/Exam">参加考试</a></li>
                <li><a href="/Student/Result">成绩查询</a></li>
                <li><a href="/Student/File">文件下载</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Student/Logout">退出登录</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" role="main">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            标题
                        </th>
                        <th>
                            时间
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var announce in ViewBag.announcement)
                    {
                        <tr>
                            <td >
                                <a href="/Student/Announcement/@announce.id">@announce.title</a>
                                
                            </td>
                            <td>
                                @announce.time
                            </td>
                        </tr>
                            
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="pagination">
                <li><a href="/Student/Index/">&laquo;</a></li>
                @{
                    int num = (@ViewBag.count / @ViewBag.size);
                    for (int i = 0; i <= num; i++)
                    {
                        int start = @i * @ViewBag.size;
                        int tag = @i + 1;
                        <li><a href="/Student/Index/?start=@start&size=@ViewBag.size">@tag</a></li>
                    }
                    int last = num * @ViewBag.size;
                    <li><a href="/Student/Index/?start=@last&size=@ViewBag.size">&raquo;</a></li>
                }

            </ul>
        </div>
    </div>
</div>

