@{
    ViewBag.Title = "score";
}
@section css{
    @Styles.Render("~/Content/css/layout.css")
}
@section js{

    @Scripts.Render("~/Content/js/jquery.wysiwyg.js")
    @Scripts.Render("~/Content/js/superfish.js")
}
<div id="container">
    @Html.Partial("student_header")
    <div id="content">
        <div style="padding-left:160px;padding-right:160px">
            <div id="pad20">
                <div class="cols3 column">
                    <table class="fullwidth" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <td>id</td>
                                <td>多选</td>
                                <td>单选</td>
                                <td>判断</td>
                                <td>总分</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ResultEntity data in ViewBag.data)
                            {
                                <tr>
                                    <td>@data.id</td>
                                    <td>@Math.Round( @data.mScore,1) </td>
                                    <td>@Math.Round(@data.sScore,1)</td>
                                    <td>@Math.Round(@data.tScore,1)</td>
                                    <td>@Math.Round(@data.mScore+@data.sScore+@data.tScore,1)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>