@{
    ViewBag.Title = "成绩查询";
}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">学生中心</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/Student/Index">信息公告</a></li>
                <li><a href="/Student/Exam">参加考试</a></li>
                <li class="active"><a href="Result">成绩查询</a></li>
                <li><a href="/Student/File">文件下载</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Student/Logout">退出登录</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" role="main">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            判断题得分
                        </th>
                        <th>
                            多选题得分
                        </th>
                        <th>
                            单选题得分
                        </th>
                        <th>
                            总分
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in ViewBag.data)
                    {
                        <tr>
                            <td>
                                @result.id

                            </td>
                            <td>
                                @Math.Round(@result.tScore,1)
                                
                            </td>
                            <td>
                                @Math.Round(@result.mScore,1)
                               
                            </td>
                            <td>
                                @Math.Round(@result.sScore,1)
                            </td>
                            <td>
                                @Math.Round(@result.sScore + @result.tScore + @result.mScore, 1)
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
